html, body {

}
.page-body {
	position: relative;
	min-height: 100vh;
}
.page-body > .container {
	padding-bottom: 85px;
}


.card {
	margin-top: 10px;
	margin-bottom: 10px;
}

.info-head {
	display: flex;
	align-items: baseline;
}
.info-head * {
	flex: 1;
	margin: 0 3px;
}

/* .page-content {
	background: #fff;
} */


pre {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.carousel-item,.carousel-item > img,.carousel-item > iframe, .carousel-inner {
	/* width: 100%; */
	/* height: 500px !important; */
	height:40vh;
}

/* .page-header {
	height: 50vh;
	min-height: 500px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
} */



.carousel-item:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.carousel-caption a {
	color: white;
}

.carousel-item.video:hover:before {
  display: none;
}
carousel-item.video:hover {
	position: relative;
}
.carousel-item.video:hover > .carousel-caption {
	background-color: black;
}

.carousel-item.video:hover > .carousel-caption * {
	color: white;
	text-shadow: 2px 2px 4px #000000;
}


/*==PAGE HEADER==*/

.logged-in {
	display: none;
}

.content-list {
	display: flex;
	align-items: flex-start;
}
.content-list > * {
	flex: 1;
	margin: 4px;
}

.content-list.row {
	flex-flow: row;
}


.nav-item > .fas {
	font-size: 2em;
	padding-bottom: 3px;
	display: block;
}

.utterances {
	max-width: none !important;
}