html, body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: block;
    overflow-x: hidden;
    /* background-image: url("/uploads/default.png"); */
}

.navbar {
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 100;
}

.navbar,.footer {
  background-color: #53C81D;
}
.footer * {
  color:white;
}


.sidebar * {
  width:100%
}

.page-body {
    position: relative;
    min-height: 100vh;
}
.page-body > .container {
    padding-bottom: 85px;
}

.footer {
    position: absolute;
    left:0;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
  }

.card {
    margin-top: 10px;
    margin-bottom: 10px;
}

[class*="browser-"] {
  display: none;
}
.browser-list {
  display: inline;
}
.browser-none {
  display: inline;
}

/* .page-content {
  background: #fff;
} */


pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.carousel-item,.carousel-item > img,.carousel-item > iframe, .carousel-inner {
  width:100%;
  /* height: 500px !important; */
height:75vh;
}

/* .page-header {
  height: 50vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */



.carousel-item:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgb(0, 0, 0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgb(0, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */   

}
.carousel-caption a {
  color:white;
}

.carousel-item.video:hover:before {
  display: none;
}

.carousel-item.video:hover > .carousel-caption * {
  color:white;
  text-shadow: 2px 2px 4px #000000;
}




/*==PAGE HEADER==*/


.page-header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.page-header.media {
  background-color: black;
  height: 20vh;
  /*min-height: 25rem;*/
  transition: height 0.5s;
}

.page-header .page-header-media {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.page-header .container {
  position: relative;
  z-index: 2;
}

.page-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
  transition: opacity 0.5s;
}

.page-header.media:hover {
  height: 75vh;
}
.page-header.media:hover .overlay {
  opacity: 0;
}

.page-header.video:hover .overlay {
  display: none;
}

.page-header.video:hover > .container {
  display: none;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}