---
layout: default
title: Authors
---
{% include page-header.html %}
{% for item in site.documents %}
{% if item.author %}
{% for author in item.author %}
{% unless author == "" %}
{% assign author=author|slugify%}
{% if authors %}
{% assign authors=authors | push: author %}
{% else %}
{% assign authors=author | split:"," %}
{% endif %}
{% endunless %}
{% endfor %}
{% endif %}
{% endfor %}
<div class="container page-content">
{% if authors %}
{% assign authors=authors | sort %}
{% assign authors=authors | uniq %}
<div class="authors-all card card-body">
    <ul class="authors-all">
        {% for author in authors %}
        <li><a href="{{ page.url }}?a={{ author|slugify }}">{{ author }}</a></li>
        {% endfor %}
    </ul>
</div>
{% for author in authors %}


<div class="authors-{{ author |slugify}}">

    <!-- <h1 class="page-heading">Mods by {{ author }}</h1> -->

    {% for item in site.documents %}
    {% if item.author contains  author %}
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description}}</p>
            <a href="{{item.url}}" class="btn btn-primary">View</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}

</div>

{% endfor %}


<script>
    $(function () {
        $(".authors-all").hide();
        {% for author in authors %}
        $(".authors-{{ author|slugify }}").hide();
        {% endfor %}
        authorQuery = getQueryVariable('a');
        {% for author in authors %}
        {% if forloop.first %}
        //if (author=="{{ author }}") {
        //$('.authors-{{ author }}').show();
        //} {% else %} //else if (author=="{{ author }}") {
        //	$('.authors-{{ author }}').show();
        //}{% endif %}{% endfor %} else {
        //	$('.authors-all').show();
        //}
        $('.page-header h1').text(authorQuery)
        if (authorQuery) {
            $(".authors-" + authorQuery).show();
        } else {
            $('.authors-all').show();
        }
    });
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split('&');
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split('=');
            if (pair[0] === variable) {
                return decodeURIComponent(pair[1].replace(/\+/g, '%20'));
            }
        }
    }
</script>
{% else %}

<div class="mdl-card mdl-shadow--4dp post-container">
    <div class="mdl-card__supporting-text post-content">
        There Are no authors
    </div>
</div>
{% endif %}
</div>