---
layout: default
---

{% assign all=site.documents | sort: "date","last" | reverse %}
{% assign carousel=all | where: "featured","true" %}
{% if carousel %}
<div id="homeCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% assign l = carousel|size|minus:1 %}
    {% for i in (0..l) %}
    <li data-target="#homeCarousel" data-slide-to="{{i}}" {% if forloop.first %}class="active" {% endif %}></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in carousel %}
    <div class="carousel-item{% if item.video %} video{% endif %}{% if forloop.first %} active{% endif %}">
      {% if item.video %}
      <iframe width="800" height="400" class="d-block w-100" src="{{item.video}}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {% else %}
      <a href="{{item.url}}">
        <img src="{{item.image | default: '/uploads/default.png'}}" alt="{{item.title}}"
          class="d-block w-100 img-fluid">
      </a>
      {% endif %}
      <div class="carousel-caption d-none d-md-block">
        <a href="{{item.url}}">
          <h3><span class="badge badge-primary badge-pill">{{item.collection}}</span> | {{item.title}}</h3>
          <p>{{item.description}}</p>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#homeCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#homeCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}


<div class="container page-content">
  <h1>Texture Packs</h1>
  <div class="card-group">
    {% assign tps = site.texturepacks | sort: "date","last" | reverse %}
    {% assign l = tps | size %}
    {% for tp in tps limit: 4 %}
    {% include listing-vir.html item=tp %}
    {% if forloop.last %}
    {% if l>4 %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title w-100">More...</h5>
      </div>
      <div class="card-body"><a href="/texturepacks" class="btn btn-primary">-></a></div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}

  </div>
  <h1>Mods</h1>
  <div class="card-group">
    {% assign mods = site.mods | sort: "date","last" | reverse %}
    {% assign l = mods | size %}
    {% for mod in mods limit: 4 %}
    {% include listing-vir.html item=mod %}
    {% if forloop.last %}
    {% if l>4 %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title w-100">More...</h5>
      </div>
      <div class="card-body"><a href="/texturepacks" class="btn btn-primary">-></a></div>
    </div>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>

  <h1>Feed</h1>
  {% assign l = all | size %}
  {% for thing in all limit: 19 %}
  {% if thing.date %}
  {% if thing.collection == "post" %}
  {% include listing-post.html item=thing %}
  {% else %}
  {% include listing-hor.html item=thing %}
  {% endif %}
  {% endif %}
  {% if forloop.last %}
  {% if l>19 %}
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">More...</h5>
    </div>
    <div class="card-body w-100"><a href="/texturepacks" class="btn btn-primary">-></a></div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}
</div>