---
layout: default
title: Home
header: false
---
{% assign carousel = site.documents | where: "featured","true" | sort: "date","last" | reverse %}
{% include home-carousel.html items=carousel %}
<div class="home container">
	<div class="home-main">
		{% assign homelists = site.lists | sort: "home" %}
		{% for list in homelists %}
			{% if list.home > 0 %}
				<div class="card">
					<div class="card-header"><h1>{{list.title}}</h1></div>
				</div>
				<div class="content-list row justify-content-center align-items-stretch mx-0" style="max-height: 350px">
					{% if list.list == true %}
						{% assign l = list.slug %}
					{% else %}
						{% assign l = list.list %}
					{% endif %}
					{% include list.html list=l filters=list.filters limit=4 %}
				</div>
			{% endif %}
		{% endfor %}
	</div>
	<div class="sidebar">
		{% include home-sidebar.html %}
	</div>
</div>