---
layout: default
title: Search
---
{% include page-header-noimg.html %}
<div class="container page-content">
	<div class="card">
		<form action="/search" method="get">
			<label for="search-box">Search</label>
			<input type="text" id="search-box" name="query">
			<input type="submit" value="search">
		</form>
	</div>
	<ul id="search-results"></ul>

	<script>
		window.store = { {% for item in site.documents %}
      "{{ item.url | slugify }}": {
        "title": "{{ item.title | xml_escape }}",
        "author": {{ item.author|jsonify|join:","|default:"[]"}},
        "collection": "{{ item.collection | xml_escape }}",
        "description": {{ item.content | strip_html | strip_newlines | jsonify }},
        "content": {{ item.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ item.url | xml_escape }}"
      }{% unless forloop.last %}, {% endunless %}{% endfor %}
  };
	</script>
	<script src="https://unpkg.com/lunr/lunr.js"></script>
	<script src="/js/search.js"></script>
</div>