
{% if include.item.date or include.item.author %}
    <div class="card-footer">
        <small class="text-muted">
           created {% if include.item.date %}on {{ include.item.date | date: "%-d %B %Y"}}{% endif %}
        {% if include.item.author %}by 
        {% for author in include.item.author %}{% unless forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endunless %}<b><a href="/authors/{{author|slugify}}">{{author}}</a></b>{%endfor%}
        {% endif %}
    </small>
</div>
{% endif %}