{% if include.item.browser.chrome or include.item.browser.firefox or include.item.browser.edge or include.item.browser.safari or include.item.browser.opera or include.item.browser.ios or include.item.browser.android %}
      <div class="text-muted browser-list">
		{% if include.item.browser.chrome %}
		<a href="{{include.item.browser.chrome}}" class="browser-chrome"><img src="/uploads/browser/chrome.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.firefox %}
		<a href="{{include.item.browser.firefox}}" class="browser-firefox"><img src="/uploads/browser/firefox.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.edge %}
		<a href="{{include.item.browser.edge}}" class="browser-edge"><img src="/uploads/browser/edge.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.safari %}
		<a href="{{include.item.browser.safari}}" class="browser-safari"><img src="/uploads/browser/ios.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.opera %}
		<a href="{{include.item.browser.opera}}" class="browser-opera"><img src="/uploads/browser/opera.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.ios %}
		<a href="{{include.item.browser.ios}}" class="browser-ios"><img src="/uploads/browser/ios.png" alt=""></a>
		{% endif %}
		{% if include.item.browser.android %}
		<a href="{{include.item.browser.android}}" class="browser-android"><img src="/uploads/browser/android.png" alt=""></a>
		{% endif %}
		{% unless include.item.install %}
        <span class="browser-none">This project is not supported for your browser.</span>
		{% endunless %}
	  </div>
	  {% if include.item.install %}
	  <a href="{{ page.install }}" class="btn btn-primary">Install</a>
		{% endif %}
      {% endif %}