{% assign item = include.item | default: page %}

{% assign primary = "install,join,linkPrimary,sourcePrimary" | split: "," %}
{% assign primaryName = "Install,Join,Link,Source" | split: "," %}
{% assign secondary = "link,source,discord" | split: "," %}
{% assign secondaryName = "Link,Source,Discord" | split: "," %}
{% assign browsers = "chrome,firefox,edge,safari,opera,ios,android" | split: "," %}

{% capture primaryHTML %}
{% for i in primary %}
{% if item[i] %}<a href="{{item[i]}}" class="btn btn-primary">{{primaryName[forloop.index0]}}</a>{% endif %}
{% endfor %}
{% for i in item.primary %}
<a href="{{i.href}}" class="btn btn-primary" {% if i.color%}style="background-color:{{i.color}};border-color:{{i.color}};"{% endif %}>{{i.name}}</a>
{% endfor %}
{% endcapture %}

{% capture secondaryHTML %}
{% for i in secondary %}
{% if item[i] %}<a href="{{item[i]}}" class="btn btn-sm btn-secondary">{{secondaryName[forloop.index0]}}</a>{% endif %}
{% endfor %}
{% for i in item.secondary %}
<a href="{{i.href}}" class="btn btn-sm btn-secondary" {% if i.color%}style="background-color:{{i.color}};border-color:{{i.color}};"{% endif %}>{{i.name}}</a>
{% endfor %}
{% endcapture %}

{% capture browser %}
{% for i in browsers %}
{% if item.browser[i] %}<a href="{{item.browser[i]}}" class="browser-{{i}}"><img src="/uploads/browser/{{i}}.png"
		alt=""></a>{% endif %}
{% endfor %}
{% endcapture %}

{% capture fullRow %}
{{primaryHTML}}
{{secondaryHTML}}

{% assign temp = browser | strip %}
{% if temp != "" %}
<div class="text-muted browser-list">
	{{browser}}
</div>
{% endif %}

{% if item.disclaimer %}
<span class="browser-none">{{item.disclaimer}}</span>
{% elsif item.collection == "authors" or item.collection == "posts" %}
{% if item.unfinished %}
<span class="browser-none">This page is not finished.</span>
{% endif %}
{% else %}
{% if item.unfinished %}
<span class="browser-none">This project is not finished.</span>
{% else %}
{% assign temp = primaryHTML | strip %}
{% if temp == "" %}
<span class="browser-none">This project is not supported for your browser.</span>
{% endif %}
{% endif %}
{% endif %}
{% endcapture %}

{% assign temp = fullRow | strip %}
{% if temp != "" %}
<div class="list-group-item project-info">
	{{fullRow}}
</div>
{% endif %}