{% assign item = include.item | default: page %}

{% assign primary = "install,join" | split: "," %}
{% assign primaryName = "Install,Join" | split: "," %}
{% assign secondary = "link,source,discord" | split: "," %}
{% assign secondaryName = "Link,Source,Discord" | split: "," %}
{% assign browsers = "chrome,firefox,edge,safari,opera,ios,android" | split: "," %}

{% capture primaryHTML %}
{% for i in primary %}
{% if item[i] %}<a href="{{item[i]}}" class="btn btn-primary">{{primaryName[forloop.index0]}}</a>{% endif %}
{% endfor %}
{% endcapture %}

{% capture secondaryHTML %}
{% for i in secondary %}
{% if item[i] %}<a href="{{item[i]}}" class="btn btn-sm btn-secondary">{{secondaryName[forloop.index0]}}</a>{% endif %}
{% endfor %}
{% endcapture %}

{% capture browser %}
{% for i in browsers %}
{% if item.browser[i] %}<a href="{{item.browser[i]}}" class="browser-{{i}}"><img src="/uploads/browser/{{i}}.png" alt=""></a>{% endif %}
{% endfor %}
{% if primaryHTML | strip == "" %}
<span class="browser-none">This project is not supported for your browser.</span>
{% endif %}
{% endcapture %}

<div class="list-group-item project-info">
	{% if browser | strip %}
	<div class="text-muted browser-list">
		{{browser}}
	</div>
	{% endif %}

	{{primaryHTML}}
	{{secondaryHTML}}
</div>