<div class="card w-100">
    <div class="row no-gutters">
        {% if include.item.icon %}
        <div class="col-2">
            <img src="{{include.item.icon}}" class="card-img-top" alt="{{include.item.title}}">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <a href="{{include.item.url}}" class="">
                    <h2 class="card-title">{{include.item.title}}</h5>
                </a>
                <p class="card-text">{{include.item.description|default:include.item.content}}</p>
            </div>
        </div>
    </div>
    {% if include.item.date or include.item.author %}
    <div class="card-footer">
        <small class="text-muted">
            created {% if include.item.date %}on {{ include.item.date | date: "%-d %B %Y"}}{% endif %}
            {% if include.item.author %}by 
            {% for author in include.item.author %}
            {% if forloop.last %}{% unless forloop.first %}
                and 
            {% endunless %}
            {% endif %}
            <b><a href="/authors/{{ author|slugify }}">{{ author }}</a></b>
            {% unless forloop.last %}
                ,
            {% endunless %}
            {% endfor %}
            {% endif %}
        </small>
    </div>
    {% endif %}
</div>