<div class="card">
	{% if include.item.recommend %}
	<div class="card-header bg-warning "><span class="bcmc-recommended"><i class="fa fa-star" aria-hidden="true"></i>
	Recommended</span></div>
	{% endif %}
    {% if include.item.icon %}
    <img src="{{ include.item.icon }}" class="card-img-top" alt="{{ include.item.title }}">
    {% endif %}
    <div class="card-body">
        <a href="{{ include.item.url }}">
            <h5 class="card-title">{{ include.item.title }}</h5>
        </a>
        <p class="card-text">{{ include.item.description }}</p>
    </div>
	{% include author-list.html item=include.item %}
</div>