<div class="card w-100">
    <div class="row no-gutters">
        {% if include.item.icon %}
        <div class="col-2">
            <img src="{{include.item.icon}}" class="card-img-top" alt="{{include.item.title}}">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <a href="{{include.item.url}}" class="">
                    <h2 class="card-title">{{include.item.title}}</h5>
                </a>
                <p class="card-text">{{include.item.description|default:include.item.content}}</p>
            </div>
        </div>
    </div>
    {% if include.item.browser %}
    <div class="card-footer text-muted browser-list">
        {% for brow in include.item.browser %}
        <a href="{{brow.install}}" class="btn btn-primary browser-{{brow.name}}">Install for {{brow.name}}</a>
        {% endfor %}
        <span class="browser-none">This tool is not supported for your browser.</span>
    </div>
    {% endif %}
	{% include author-list.html item=include.item %}
</div>