<div class="card w-100">
	{% if include.item.recommend %}
	<div class="card-header bg-warning "><span class="bcmc-recommended"><i class="fa fa-star" aria-hidden="true"></i>
	Recommended</span></div>
	{% endif %}
    <div class="row no-gutters">
        {% if include.item.icon %}
        <div class="col-2">
            <img src="{{include.item.icon}}" class="card-img-top" alt="{{include.item.title}}">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <a href="{{include.item.url}}" class="">
                    <h2 class="card-title">{{include.item.title}}{% if include.item.userscript %} <img src="https://api.boxcrittersmods.ga/button/{{ include.item.slug }}" alt="mod-verision">{% endif %}</h5>
                </a>
                <p class="card-text">{{include.item.description|default:include.item.content}}</p>
            </div>
        </div>
	</div>
	
	<div class="list-group list-group-flush">
	{% include author-list.html item=include.item %}
    <div class="list-group-item project-info">
	{% include link-row.html item=include.item %}
	</div>
		</div>
</div>