{% assign items = site[include.list] | sort: "date" | reverse %}

{% assign working = "" | split: "" %}
{% assign broken = "" | split: "" %}
{% for item in items %}
	{% if item.broken %}
		{% assign broken = broken | push: item %}
	{% else %}
		{% assign working = working | push: item %}
	{% endif %}
{% endfor %}
{% assign items = working | concat: broken %}

{% assign finishedItems = 0 %}
{% for item in items %}
	{% assign passedFilter = true %}
	{% for filter in include.filters %} <!-- item filter -->
		{% assign params = "" | split: "" %}
		{% for p in filter.params %}
			{% assign s = p | slice: 0,2 %}
			{% assign e = p | slice: -2,2 %}
			{% if s == "{{" and e == "}}" %} <!-- var from string -->
				{% assign var = p | remove: "{{" | remove: "}}" | split: "." %}
				{% for seg in var %}
					{% if forloop.first %}
						{% if seg == "item" %} <!-- initial variable names -->
							{% assign val = item %}
						{% elsif seg == "page" %}
							{% assign val = page %}
						{% elsif seg == "site" %}
							{% assign val = site %}
						{% elsif seg == "include" %}
							{% assign val = include %}
						{% endif %}
					{% else %}
						{% assign val = val[seg] %}
					{% endif %}
				{% endfor %}
				{% assign params = params | push: val %}
			{% else %}
				{% assign params = params | push: p %}
			{% endif %}
		{% endfor %}

		{% if filter.type == "exists" %} <!-- filter types -->
			{% unless params[0] %}
				{% assign passedFilter = false %}
			{% endunless %}
		{% elsif filter.type == "match" %}
			{% unless params[0] == params[1] or params[0] contains params[1] %}
				{% assign passedFilter = false %}
			{% endunless %}
		{% else %}
			<h1>invalid list filter</h1>
			{% break %}
		{% endif %}

		{% if filter.not %}
			{% if passedFilter %}
				{% assign passedFilter = false %}
			{% else %}
				{% assign passedFilter = true %}
			{% endif %}
		{% endif %}
		{% unless passedFilter %}
			{% break %}
		{% endunless %}
	{% endfor %}

	{% if passedFilter %}
		{% include listing-square.html item=item %}
		{% assign finishedItems = finishedItems | plus: 1 %}
	{% endif %}

	{% if finishedItems >= include.limit %}
		{% break %}
	{% endif %}
{% endfor %}