{% assign item = include.item | default: page %}

{% assign primary = "install,join,linkPrimary,sourcePrimary" | split: "," %}
{% assign secondary = "link,source,discord" | split: "," %}

{% assign browsers = "chrome,firefox,edge,safari,opera,ios,android" | split: "," %}

{% assign primaryExists = false %}

{% capture buttons %}
	{% for button in item.buttons %}
		{% include modbutton.html button=button %}
		{% unless button.type > 0 or button.type < 0 %}
			{% assign primaryExists = true %}
		{% endunless %}
	{% endfor %}
{% endcapture %}

{% capture fullRow %}
	{{buttons}}

	{% if item.disclaimer %}
		<span class="text-muted">{{item.disclaimer}}</span>
	{% elsif item.collection == "authors" or item.collection == "posts" %}
		{% if item.unfinished %}
			<span class="text-muted">This page is not finished.</span>
		{% endif %}
	{% else %}
		{% if item.unfinished %}
			<span class="text-muted">This project is not finished.</span>
		{% else %}
			{% unless primaryExists %}
				<span class="text-muted browser-none">This project is not supported for your browser.</span>
			{% endunless %}
		{% endif %}
	{% endif %}
{% endcapture %}

{% assign temp = fullRow | strip %}
{% if temp != "" %}
	<div class="list-group-item modrow-buttons">
		{{fullRow}}
	</div>
{% endif %}