{% assign item = include.item | default: page %}

{% assign primary = "install,join,linkPrimary,sourcePrimary" | split: "," %}
{% assign primaryName = "Install,Join,Link,Source" | split: "," %}

{% assign secondary = "link,source,discord" | split: "," %}
{% assign secondaryName = "Link,Source,Discord" | split: "," %}

{% assign browsers = "chrome,firefox,edge,safari,opera,ios,android" | split: "," %}

{% capture primaryHTML %}
	{% for i in primary %}
		{% if item[i] %}
			<a href="{{item[i]}}" class="btn btn-primary">{{primaryName[forloop.index0]}}</a>
		{% endif %}
	{% endfor %}
	{% for button in item.primary %}
		{% include modbutton.html button=button type="primary" %}
	{% endfor %}
{% endcapture %}

{% capture secondaryHTML %}
	{% for i in secondary %}
		{% if item[i] %}
			<a href="{{item[i]}}" class="btn btn-sm btn-secondary">{{secondaryName[forloop.index0]}}</a>
		{% endif %}
	{% endfor %}
	{% for button in item.secondary %}
		{% include modbutton.html button=button type="secondary" %}
	{% endfor %}
{% endcapture %}

{% capture browserHTML %}
	{% for i in browsers %}
		{% if item.browser[i] %}
			<a href="{{item.browser[i]}}" class="browser-{{i}}">
				<img src="/uploads/browser/{{i}}.png" alt="{{i}}">
			</a>
		{% endif %}
	{% endfor %}
{% endcapture %}

{% capture fullRow %}
	{{primaryHTML}}
	{{browserHTML}}
	{{secondaryHTML}}

	{% if item.disclaimer %}
		<span class="text-muted">{{item.disclaimer}}</span>
	{% elsif item.collection == "authors" or item.collection == "posts" %}
		{% if item.unfinished %}
			<span class="text-muted">This page is not finished.</span>
		{% endif %}
	{% else %}
		{% if item.unfinished %}
			<span class="text-muted">This project is not finished.</span>
		{% else %}
			{% assign temp = primaryHTML | strip %}
			{% if temp == "" %}
				<span class="text-muted browser-none">This project is not supported for your browser.</span>
			{% endif %}
		{% endif %}
	{% endif %}
{% endcapture %}

{% assign temp = fullRow | strip %}
{% if temp != "" %}
	<div class="list-group-item modrow-buttons">
		{{fullRow}}
	</div>
{% endif %}