<header class="bcmc-header navbar navbar-expand-lg navbar-dark {% if page.show-nav %}shown{% endif %}">
    <a class="navbar-toggler btn" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fas fa-bars text-white"></i>
	</button>
	<a class="bcmc-sitetitle navbar-brand" href="/">
		<img class="bcmc-logo" src="/uploads/bcmc-logo.png" alt="{{site.title}}">
		<img class="bcmc-logo-white" src="/uploads/bcmc-white.png" alt="{{site.title}}">
	</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav  mt-2 mt-lg-0">
            {% for nav in site.data.nav %}
            <li class="nav-item{% if page.url contains nav.href %} active{% endif %}">
                <a class="nav-link" href="{{nav.href}}">{{nav.name}} {% if  page.url contains nav.href %}<span
                        class="sr-only">(current)</span>{% endif %}</a>
            </li>
            {% endfor %}
        </ul>
        
	</div>
	
	<span class="dropdown">
		<a href="/create-texturepack" class="btn align-right"><i class="fas fa-edit text-white"></i></a>
		<a href="/submissions-coming-soon" class="btn align-right"><i class="fas fa-upload text-white"></i></a>
		<a href="#" class="btn rounded-circle p-1 " data-toggle="dropdown" ole="button" aria-haspopup="true"
			aria-expanded="false">
			<img class="mh-100 align-middle rounded-circle" src="/uploads/guest.png" height="40" alt="">
		</a>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="logged-out">
				<a class="dropdown-item" href="#">Login</a>
			</span>
			<span class="logged-in">
				<a class="dropdown-item" href="#">Submit</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Dashboard</a>
				<a class="dropdown-item" href="#">My Page</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Log Out</a>
			</span>
		</div>
	</span>
</header>