<nav class="navbar navbar-expand-lg navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <a class="navbar-brand" href="/">{{site.title}}</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <form class="form-inline mr-auto my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        
    </div><ul class="navbar-nav mt-2 mt-lg-0">
        {% for nav in site.data.nav %}
        <li class="nav-item{% if page.url contains nav.href %} active{% endif %}">
            <a class="nav-link" href="{{nav.href}}">{{nav.name}} {% if  page.url contains nav.href %}<span
                    class="sr-only">(current)</span>{% endif %}</a>
        </li>
        {% endfor %}
        <li><a href="#" class="btn btn-success align-middle"><span>Submit</span></a></li>
    </ul>
    <div class=" mx-2">
            <span class="dropdown">
                <a href="#" class="btn rounded-circle p-1 " data-toggle="dropdown" ole="button" aria-haspopup="true"
                    aria-expanded="false">
                    <img class="mh-100 align-middle rounded-circle" src="/uploads/guest.png" height="40" alt="">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <span class="logged-out">
                        <a class="dropdown-item" href="#">Login</a>
                    </span>
                    <span class="logged-in">
                        <a class="dropdown-item" href="#">Submit</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Dashboard</a>
                        <a class="dropdown-item" href="#">My Page</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </span>
                </div>
            </span>
        </div>
</nav>