<header class="bcmc-header navbar navbar-expand-lg navbar-dark {% if page.show-nav %}shown{% endif %}">
	<a class="bcmc-sitetitle navbar-brand" href="/">
		<img class="bcmc-logo" src="/uploads/bcmc-logo.png" alt="{{site.title}}">
		<img class="bcmc-logo-white" src="/uploads/bcmc-white.png" alt="{{site.title}}">
	</a>
	<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
		<ul class="navbar-nav mt-2 mt-lg-0">
			{% for nav in site.data.nav %}
			<li class="nav-item {% if page.url contains nav.href %} active{% endif %}">
				<a class="nav-link {% if nav.color %}text-{{nav.color}}{% endif %}" href="{{nav.href}}">{{nav.name}} {% if page.url contains nav.href %}<span
						class="sr-only">(current)</span>{% endif %}</a>
			</li>
			{% endfor %}
		</ul>

	</div>

	<span class="dropdown">
		<a href="https://create.boxcrittersmods.ga" class="btn align-right"><i class="fas fa-edit text-white"></i></a>
		<a href="/submissions-coming-soon" class="btn align-right"><i class="fas fa-upload text-white"></i></a>
		<a href="#" class="btn rounded-circle p-1 " data-toggle="dropdown" ole="button" aria-haspopup="true"
			aria-expanded="false">
			<img class="mh-100 align-middle rounded-circle" src="/uploads/guest.png" id="avatar" height="40" alt="">
		</a>
		<div class="dropdown-menu dropdown-menu-right">
			<span class="logged-out">
				<a class="dropdown-item" id="loginout" href="#">Login</a>
			</span>
			<span class="logged-in">
				<a class="dropdown-item" href="/submissions-coming-soon">Submit</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Dashboard</a>
				<a class="dropdown-item" href="#" id="mypage">My Page</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#" id="logout">Log Out</a>
			</span>
		</div>
	</span>
</header>

<nav class="nav fixed-bottom nav-fill nav-primary d-lg-none">
	<a class="nav-item nav-link btn-success {% if page.url contains 'mods' %}active{% endif %}" href="/mods"><i
			class="fas fa-wrench"></i>Mods</a>
	<a class="nav-item nav-link btn-success {% if page.url contains 'texturepacks' %}active{% endif %}"
		href="/texturepacks"><i class="fas fa-paint-brush"></i>Texture Packs</a>
	<a class="nav-item nav-link btn-success {% if page.url contains 'shaders' %}active{% endif %}" href="/shaders"><i
			class="fas fa-eye"></i>Shaders</a>
</nav>