{% assign item = include.item | default: page %}

{% assign require = '' | split:',' %}
{% if include.inclusive %}
	{% assign require = require | push: item.slug %}
{% endif %}

{% for dep in item.require %}
	{% assign depPage = site.documents | where:'slug', dep | first %}
	{% capture depList %}{% include require-list.html item=depPage inclusive=true %}{% endcapture %}
	{% assign require = depList | strip | split:',' | concat: require %}
{% endfor %}

{% if item.userscript %}
	{% assign require = site.userscriptManager | concat: require %}
{% endif %}

{{require | uniq | join:','}}