{% assign item = include.item | default: page %}

{% capture depList %}{% include require-list.html item=item %}{% endcapture %}
{% assign require = depList | strip | split:',' %}

{% for dep in require %}
	{% assign depPage = site.documents | where:"slug", dep | first %}
	<li class="list-group-item" id="dep-{{item.slug}}-{{depPage.slug}}">
		<a href="{{depPage.url}}">
			<h3>
				{{depPage.title}}
				{% if depPage.userscript %}
					<img src="https://{{site.bc-mod-api}}/button/{{depPage.slug}}" onerror="this.style.display='none'">
				{% endif %}
			</h3>
		</a>
		<div class="list-group list-group-flush">
			{% include modrow-buttons.html item=depPage %}
		</div>
	</li>
{% endfor %}