backend:
  name: github
  repo: boxcritters/boxcritters.github.io
  base_url: https://bc-mod-api.herokuapp.com/admin
media_folder: "uploads"
show_preview_links: true
collections:
  - name: 'texturepacks'
    label: Texture Packs
    label_singular: Texture Pack
    folder: _texturepacks
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - label: "Authors"
        name: "author"
        widget: "list"
        field: {label: Author, name: author, widget: "string", required: true}
      - {label: "Description", name: "description", widget: "text", required: true}
      - {label: "Date", name: "date", widget: "date", required: true}
      - {label: "Logo", name: "logo", widget: "image"}
      - {label: "Banner", name: "image", widget: "image"}
      - {label: "Texture Pack Code", name: "code", widget: "text", required: true}
      - {label: "One Click File", name: "install", widget: "string"}
      - {label: "Show on Front Page", name: "featured", widget: "boolean"}
  - name: 'mods'
    label: Mods
    label_singular: Mod
    folder: _mods
    create: true
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - {label: "Author", name: author, widget: "string", required: true }
      - {label: "Description", name: "description", widget: "text", required: true}
      - {label: "Date", name: "date", widget: "date", required: true}
      - {label: "Logo", name: "logo", widget: "image"}
      - {label: "Banner", name: "image", widget: "image"}
      - label: "Platforms"
        name: "platforms"
        widget: "select"
        required: true
        multiple: true
        options:
          - { label: "Chrome", value: "chrome" }
          - { label: "Firefox", value: "firefox" }
          - { label: "Edge", value: "edge" }
          - { label: "Safari", value: "safari" }
          - { label: "Opera", value: "opera" }
      - {label: "Install URL", name: "install", widget: "string", required: true}
      - {label: "Show on Front Page", name: "featured", widget: "boolean"}
  - name: 'tools'
    label: Tools
    label_singular: Tool
    folder: _tools
    fields:
      - {label: "Title", name: "title", widget: "string", required: true}
      - {label: "Author", name: author, widget: "string" }
      - {label: "Description", name: "description", widget: "text", required: true}
      - {label: "Date", name: "date", widget: "date", required: true}
      - {label: "Logo", name: "logo", widget: "image"}
      - {label: "Banner", name: "image", widget: "image"}
      - label: "Platforms"
        name: "platforms"
        widget: "object"
        fields:
        - label: "Platform Name"
          name: "name"
          widget: "select"
          required: true
          options:
            - { label: "Chrome", value: "chrome" }
            - { label: "Firefox", value: "firefox" }
            - { label: "Edge", value: "edge" }
            - { label: "Safari", value: "safari" }
            - { label: "Opera", value: "opera" }
            - { label: "iOS", value: "ios" }
            - { label: "Android", value: "android" }
        - {label: "URL", name: "install", widget: "string", required: true}
      - {label: "Show on Front Page", name: "featured", widget: "boolean"}