---
layout: default
description: all but it's sorted
---
{% include page-header-noimg.html %}
<div class="page-content">
	{% for collection in site.collections %}
		{% assign normalTitle=collection.label|capitalize %}
		<div class="card">
			{% assign normalTitle=collection.label|capitalize %}
			<div class="card-header">
				<h1>{{collection.title|default:normalTitle}}</h1>
			</div>
		</div>
		<div class="container page-content">
			{% include list.html list=collection.label %}
		</div>
	{% endfor %}
</div>