---
layout: item
---
<div class="card">
  <div class="card-body">
    <h5 class="card-title">{{page.title}}</h5>
    <p class="card-text">{{page.description}}</p>
    <a href="{{ page.install }}" class="btn btn-primary">Install</a>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Created by {% include author-list.html authors=page.author %}
    </li>
  </ul>
</div>
{% if page.platforms %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Platforms</h5>
  </div>
  <ul class="list-group">
    {% for plat in page.platforms %}
    <li class="list-group-item">{{plat}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %} {% if content != "" %}
<div class="card">
  {{content}}
</div>
{% endif %}
