---
layout: default
---
<div class="row">
        <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">{{page.title}}</h5>
                    <p class="card-text">{{page.description}}</p>
                    <a href="{{ page.install }}" class="btn btn-primary">Install</a>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Created by <b>{{page.author}}</b></li>
                </ul>
            </div>
            {% if page.platforms %}
            <div class="card w-50">
                <div class="card-body">
                    <h5 class="card-title">Platforms</h5>
                </div>
                <ul class="list-group list-group-flush">
                    {% for plat in page.platforms %}
                    <li class="list-group-item">{{plat}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
</div>


{{content}}