---
layout: item
---
<div class="card card-body">
        <div class="card-title">
			{% include page-thumb.html %}
                <div class="project-info">
                    {% if page.join %}<a class="btn btn-lg btn-success" href="{{page.join}}">Join</a>{% endif %}
                    {% if page.link %}<a class="btn btn-primary" href="{{page.link}}">Website</a>{% endif %}
                    {% if page.source %}<a class="btn btn-secondary" href="{{page.source}}">Source</a>{% endif %}
                    {% if page.discord %}<a class="btn btn-secondary" href="{{page.discord}}">Discord</a>{% endif %}
                </div>
        </div>
        <div class="card-title">
		{% include author-list.html item=page %}
        </div>
{{content}}
</div>